/* importing google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}


.home {
  width: 100vw;
  height: 100vh;
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0 30px;
  color: #0c026b;
}
.home img{
  height:70px;
}

button{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
  0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.hide {
  display: none;
}

.home h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 90px;
  font-weight: 800;
  border-radius: 5px 5px 0 0;
  padding: 15px 30px;
  text-align: center;
  color: #0310cd;
  
}

.home p {
  border-radius: 5px 5px 0 0;
  font-size: 16px;
  text-align: center;
}


.home h2 {
  border-radius: 5px 5px 0 0;
  font-size: 20px;
  font-weight: 600;
  width: 100%;
  text-align: center;
  margin-top: 40px;
}



.home button {
  margin: 0 5px;
  height: 40px;
  width: 200px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 5px;
  
  transition: all 0.3s ease;
  margin: 10px;
}

.mobileCommandes button {
  display: none;
  z-index: auto;
  margin: 5px;
  font-size: 16px;
  font-weight: 500;
  border: none;
  outline: none;
  border-radius: 5px;
  height: 30px;
  position:absolute;
}

.start{
  width: 70px;
  bottom:50%;
  left:40%;
}
.haut{
  width: 30px;
  bottom:40px;
  left:40px;
}
.bas{
  width: 30px;
  bottom:2px;
  left:40px;
}.gauche{
  width: 30px;
  bottom:2px;
  left:2px;
}.droite{
  width: 30px;
  bottom:2px;
  left:80px;
}


button.desert {
  background: #eaba2a;
  color: #fff;
}
button.desert:hover {
  color: #eaba2a;
  background: #fff;
  border: 1px solid;
  border-color: #eaba2a;
}

button.night:hover {
  color: #ab0756;
  background: #fff;
  border: 1px solid;
  border-color: #ab0756;
}

button.night {
  background: #ab0756;
  ;
  color: #fff;
}

button.montain:hover {
  color: #0e907f;
  background: #fff;
  border: 1px solid;
  border-color: #0e907f;
  
}

button.montain {
  color: #fff;
  background: #0e907f;
}
button.cloud:hover {
  color: #1891c9;
  background: #fff;
  border: 1px solid;
  border-color: #1891c9;
}

button.cloud {
  background: #1891c9;
  color: #fff;
}
.perso {
  width: 100vw;
  height: 100vh;
  margin: auto;
  display: flex;
  
}
.gameSpace {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

#sprite-container {
  display: flex;
  align-items: center;
}

#sprite-image {
  height: 100px;
  width: 120px;
  background: url("./img/oiseaumini.png")
  0px 0px;
  
}

#sprite-image-home {
  height: 100px;
  width: 120px;
  background: url("./img/oiseaumini.png")
  0px 0px;
  
}

.over{
  font-family: 'Poppins', sans-serif;
  top: 40vh;
  text-align: center;
  position: relative;
  animation-name: gameover;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  display: none;
}
.over h2{
  font-family: 'Poppins', sans-serif;
  top: 40vh;
  font-size: 90px;
  font-weight: 700;
}

@keyframes gameover{
  from{
    top : 10vh; } to {top: 40vh; }
    
}
  
.enemy-image {
    position: relative;
    Left: 100vw;
    height: 100px;
    width: 120px;
    background: url("./img/Redbird.png")
    0px 0px;  
}

.newEnemy {
  position: absolute;
  height: 100px;
  width: 120px;
  background: url("./img/Redbird.png")
  0px 0px;  
}


.movinAnim{
    animation-name: moovin;
    animation-iteration-count: infinite;
    animation-duration: 5s;
    animation-timing-function: linear;
}
  
.pieces {
    position: relative;
    Left: 100vw;
    height: 45px;
    width: 42px;
    background: url("./img/pieces.png")
    0px 0px;
}
  
@keyframes moovin{
    from{
      left : 100vw;} to {left: -100vw; }
}
    
#background-image {
      overflow: hidden;
      height: 100vh;
      width: 100vw;
}
    
.cloudHome {
      background-image: url("./img/cloud.png");
      overflow: hidden;
      height: 100vh;
      width: 100vw;
}
    
    .decorDesert{
      background-image: url("./img/desert.jpg");
    }
    
    .decorMontain{
      background-image: url("./img/snow.jpg");
    }
    
    .decorNight{
      background-image: url("./img/night.jpg");
    }
    
    .enemyNight{
      background-image: url("./img/bat.png");
    }
    
    .decorCloud{
      background-image: url("./img/cloud.png");
    }
    
    .bird {
      position: relative;
      transition: move 330ms ease-in-out;
    }
    
    .piecesHome {
      height: 45px;
      width: 45px;
      background: url("./img/pieces.png");
      margin: 0px;
    }
    
    #score {
      height: auto;
      width: auto;
      position:absolute;
      top:2%;
      right:2%;
    }
    
    .themes{
      margin-top: 150px;
    }
    
    @media screen and (max-width: 480px) {

      .pieces {
        z-index: auto;
          position: absolute;}
      .enemy-image {
        z-index: auto;
          position: absolute;}

      .mobileCommandes button {
        display: block;}
      
      .home h1 {
        font-family: 'Poppins', sans-serif;
        font-size: 50px;
        padding: 10px 5px;
      }
      .home p {
        font-size: 14px;
      }
      .home h2 {
        font-size: 16px; 
        margin-top: 10px;
      }
      
      .home button {
        margin: 0 5px;
        height: 30px;
        width: 150px;
        font-size: 14px;
        margin: 6px;
      }
      
      
      .clavier{
        display: none;
      }
    }